# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.ipynb_checkpoints/Week Two-checkpoint.ipynb
.RData
.Rhistory
.Rproj.user/
.ipynb_checkpoints/Week Three-checkpoint.ipynb
.Rproj.user
.ipynb_checkpoints/Week Four-Addendum-checkpoint.ipynb
.ipynb_checkpoints/Week Four-checkpoint.ipynb
DataAnaT/.ipynb_checkpoints/Week Two - Chi-Square-checkpoint.ipynb
*.py
DataManViz/.ipynb_checkpoints/Week Four-Addendum-Copy1-checkpoint.ipynb
*.Rproj
DataManViz/Graphing_Flowchart_for_Printing.png
DataManViz/Capture.PNG
DataAnaT/.ipynb_checkpoints
RegModPrac/.ipynb_checkpoints/Week Two - Basic Linear Regression-checkpoint.ipynb
RegModPrac/Outlier-decision-tree.pdf
RegModPrac/C3W1-Assignment-Example---Writing-About-Your-Data.pdf
RegModPrac/.ipynb_checkpoints/Week Three - Multiple Regression-checkpoint.ipynb
